.u-senter-text {
    text-align: center;
}

.u-margin-bottom-5{
    margin-bottom: 5rem;
}

.u-margin-bottom-1 {
    margin-bottom: 1rem;
}

.u-margin-top-big {
    margin-top: 15rem;
}

.u-margin-top-mediun {
    margin-top: 10rem;
}

.u-margin-top-little {
    margin-top: 5rem;
}