@font-face {
    font-family: Oswald;
    src: url('../assets/fonts/Oswald.ttf');
}

@font-face {
    font-family: Vibes;
    src: url('../assets/fonts/GoodVibes.ttf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
}