.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
        rgba($colorLightGreen,0.8),
        rgba($colorDarkGreen, 0.8)),
    url(../../assets/img/main.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    &__bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    &__logo-box {
        position: absolute;
        top: 1.8rem;
        left: 3rem;
    }

    &__logo {
        font-family: Vibes;
        color: $colorWhite;
        font-size: 5rem;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    &__text-box {
        text-align: center;
    }

    &__avatar {
        width: 55rem;
        height: 55rem;
        border-radius: 100%;
        background-color: red;
        background-image: url(../../assets/img/avatar.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}