.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
        rgba($colorLightGreen,0.8),
        rgba($colorDarkGreen, 0.8)),
    url(../assets/img/main.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;

    &__logo-box {
        position: absolute;
        top: 1.8rem;
        left: 3rem;
    }

    &__logo {
        font-family: Vibes;
        color: $colorWhite;
        font-size: 5rem;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}