//colors
$colorLightGreen: #61dbfb;
$colorMediumGreen: #54b7cf;
$colorDarkGreen: #0d657a;

$colorGreyLight-1: #f7f7f7;
$colorGreyLight-2: #c4c0c0;

$colorWhite: #fff;
$colorBlack: #222;
$colorDarkGrey: #777;
$colorDarkestGrey: #333;

$colorLightYellow: #ffb900;
$colorDarkYellow: #ff7730;

$colorLightBlue: #2998ff;
$colorDarkBlue: #5643fa;

//grid
$gridWidth: 114rem;
$gutterVertical: 6rem;
$gutterHorizontal: 3rem;