.card {
    perspective: 150rem;
    -moz-perspective: 150rem;    
    position: relative;
    height: 50rem;

    &__side {
        overflow: hidden;
        height: 55rem;
        transition: all 0.7s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($colorBlack, 0.65);

        &--front {

        }

        &--back {
            background-color: greenyellow;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $colorLightYellow, $colorDarkYellow);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $colorLightBlue, $colorDarkBlue);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $colorLightGreen, $colorDarkGreen);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //FRONTSIDE STYLING 
    &__picture {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 

        &--1 {
            background-image: linear-gradient(to right bottom, $colorLightYellow, $colorDarkYellow), url(../../assets/img/about_img_1.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $colorLightBlue, $colorDarkBlue), url(../../assets/img/about_img_2.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $colorLightGreen, $colorDarkGreen), url(../../assets/img/about_img_3.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: bold;
        color: $colorWhite;
        text-transform: uppercase;
        position: absolute;
        top: 10rem;
        right: 1rem;
        text-align: right;
        width: 65%;
        z-index: 2;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($colorLightYellow, 0.8), rgba($colorDarkYellow, 0.9));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($colorLightBlue, 0.8), rgba($colorDarkBlue, 0.9));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba($colorLightGreen, 0.8), rgba($colorDarkGreen, 0.9));
        }
    }

    &__details {
        margin-top: 3rem;

        ul {
            list-style: none;
            width: 80%;
            color: $colorBlack;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $colorGreyLight-2;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 6rem;
        color: $colorWhite;
    }

    &__price-only {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}